main {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.glyphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.glyphs * {
  vector-effect: non-scaling-stroke;
}

.glyph {
  /* Using these to resize the glyphs */
  width: 500px;
  height: 500px;
}

.glyph line,
.glyph polyline,
.glyph path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.glyphBackground {
  fill: white;
}

#special {
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  z-index: 10;
  width: 150px;
  height: 150px;
}
